*** Functional requirements ***

Input
1. User must be able to rate their mood 
2. User must be able to describe the mood with one word / short phrase (i.e. tag)

Output
3. Average mood over a period of time i.e. day, last 7 days, last 30, overall (e.g. for calculating the average mood over last 7 days, need to calculate the averages of each day separately first)
4. Average mood associated with any particular tag 

*** Non-functional requirements ***

Must have a slider that has a scale
2. Must 